footer{
  padding: 24px 0px;
  box-sizing: inherit;
  position: relative;
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}
.footer-c{
  padding: 0 40px;
  display: flex;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer-c ul li{
  color: rgba(0, 0, 0, .56);
  padding-top: .8rem;
  padding-bottom: .8rem;
  margin-bottom: .8rem;
}
.footer-c ul li:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, .87);
}
footer h3{
  font-weight: 400;
  margin-bottom: 24px;
}
.link-container{
  font-weight: 400;
  margin-bottom: 24px;
  margin-right: 20px !important;
}
.footer-c ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
